  body {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: 300;
    font-size: medium;
    background-image: url( https://images.squarespace-cdn.com/content/v1/609701bc21f2ee5734517421/1660799976250-55A3S9S8RBYWNK0AJ5J8/Red+Black+White+Splatter+Seamless+Cover+WM+1.jpg?format=1500w);
      background-size:cover;
    margin: 0;
    padding: 20px;
  }

  html {
    color: #1f0505;
    text-align: center;
    align-items: center;
  }

  .container {
    max-width: 900px;
    margin:
      auto;
    background: #1d1c1c;
    padding: 100px;
    border-radius: 48px;
    box-shadow: 0 25px 10px rgba(231, 10, 10, 0.1);
  }

  button {
    background-color: #d1260f9c;
  }
